/* 模态框 */
.xr-modal {
  display: none;
}
.xr-modal.show {
  display: block;
}

/* 模态框窗口容器 */

.xr-modal .xr-modal-wrap {
  position: absolute;
  width: 75%;
  max-width: 480px;
  top: 45%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  border-radius: 0.4rem;
  z-index: 301;
}

.xr-modal .xr-modal-body {
  padding: 1.8rem 0.8rem 1.5rem;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.2rem;
  overflow: hidden;
}

.xr-modal .xr-modal-footer {
  display: flex;
  border-top: 1px solid #ddd;
}

.xr-modal .xr-modal-footer .xr-btn {
  border: none;
  border-radius: 0;
  flex: 1;
  font-size: 0.8rem;
}

.xr-modal .xr-modal-footer .xr-btn + .xr-btn {
  border-left: 1px solid #ddd; /*要用这个选择器防止只有一个按钮时候 右边有线*/
}

/* 图片模态框内容区的内边距 */

.xr-modal .xr-modal-body.no-padding {
  padding: 0;
}

.xr-modal .xr-modal-body .xr-modal-img {
  display: block;
  width: 100%;
  border-radius: 0.3rem;
}


.xr-modal .xr-modal-close{
   position: absolute;
   left: 0;
   right: 0;
   width: 1.3rem;
   line-height: 1.3rem;
   margin: auto;
   bottom: -3rem;
   text-align: center;
   font-size: .8rem;
   font-weight: 100px;
   color: #eee;
   border: 1px solid #eee;
    border-radius: 50%;

}

