/* 缩小网格的高度 */
.page-index .xr-grid > .xr-grid-item {
  padding: 0.5rem 0;
}
/* 网格导航的颜色设置 */
.page-index .xr-grid > .xr-grid-item.item-1 > .xr-grid-icon {
  color: #f93c32;
}
.page-index .xr-grid > .xr-grid-item.item-2 > .xr-grid-icon {
  color: #1dbdd4;
}
.page-index .xr-grid > .xr-grid-item.item-3 > .xr-grid-icon {
  color: #eb1d57;
}
.page-index .xr-grid > .xr-grid-item.item-4 > .xr-grid-icon {
  color: #00bb4b;
}
.page-index .xr-grid > .xr-grid-item.item-5 > .xr-grid-icon {
  color: #fd9707;
}
.page-index .xr-grid > .xr-grid-item.item-6 > .xr-grid-icon {
  color: #fc5024;
}
.page-index .xr-grid > .xr-grid-item.item-7 > .xr-grid-icon {
  color: #9a00b0;
}
.page-index .xr-grid > .xr-grid-item.item-8 > .xr-grid-icon {
  color: #f3443c;
}

/* 调整间距 */
.page-index .yp-category {
  margin-bottom: 0.5rem;
}
